* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {}


header {
    width: 100%;
    height: 100px;
    background-color: #26333D;
}

.layout-grid {
    width: 100%;
    height: 100%;
    max-width: 992px;


}

nav {
 
    display: flex;
    width: 350px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: color 0.4s;
}

a:hover {

    font-size: oblique;
    box-shadow: 0, 6, 8px, black;
    color: rgb(5, 251, 226);
}

.header-flex {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h1 {
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border-bottom: 2px solid aqua;
    border-width: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 30%;
}
.titulo{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.bibliotec-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    max-width: 992px;
    margin: 0 auto;

}

article {
    height: 350px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 10%;

}

.livrin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    width: 110px;
    border-radius: 70%;
    margin-top: -120px;

}



h2 {
    flex-wrap: wrap;
}

h3 {
    flex-wrap: wrap;
}

h4 {
    flex-wrap: wrap;
}

footer {}


main {} 