@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 992px;
    /* border: 3px solid white; */
}

main {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    width: 100%;
    height: 100%;
}

body {
    background-color: aliceblue;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;

}

header {
    background-color: #202529;
    height: 100px;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
}


.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-flex {
    width: 100%;
    background-color: aliceblue;
}

header nav {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 70px;
    margin-left: 150px; */
    border-radius: 30px;
    gap: 30px;
    height: 600px;
    width: 10%;
    background-color: rgba(203, 221, 237, 0.27);
}

.login label {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    display: flex;
    flex-direction: column;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 400px;
    margin-top: 5px;
}

input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    width: 400px;

}

button:hover {
    background-color: #429bf4;
}

.forgot-password {
    font-size: 12px;
    color: #007bff;
    text-align: right;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

h1 {

    color: white;
}

form a {
    margin-left: -269px;
}

a {
    color: rgb(255, 255, 255);
    transition: 4, 0s;
}

a:hover {
    color: rgb(111, 235, 235);
}

.login-flex {
    display: flex;
    align-items: center;
}

 