@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    margin: 0 auto;
    width: 100%;
    max-width: 992px;
    /* border: 3px solid white; */
}


html {
    width: 100%;
    height: 100%;
}

body {
    background-color: #3691D8 ;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;

}

header {
    background-color: #202529;
    height: 100px;
    width: 100%;
    color: white;

    display: flex;
    justify-content: center;
}


.header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.section-flex {
    width: 100%;
    background-color: aliceblue;
}

header nav {
    width: 350px;
    height: 100%;
    /* border: 3px solid white; */

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav a {
    color: white;
    /* font-family: ; */
    text-decoration: none;
    transition: color 0.4s;

}
a:hover {

    font-size: oblique;
    box-shadow: 0, 6, 8px, black;
    color: rgb(5, 251, 226);
}

